@model Imparter.Demos.WebOnly.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>Todos</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tekst</th>
                    <th>Done</th>
                </tr>
            </thead>
            @foreach (var todo in Model.Todos)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Text</td>
                    <td>@todo.Done</td>
                </tr>
            }
        </table>

    </div>
    <div class="col-md-6">
        <h2>How to</h2>
    </div>
</div>
